/*  your css code here. If applicable */
.heading1 {
    color: lightblue;
}

.heading2 {
    color: red;
}

.heading3 {
    color: green;
}

.heading4 {
    color: orange;
}

.heading5 {
    color: Gray;
}

.heading6 {
    color: yellow;
}
